  <!-- ==================== Page-Title (Start) ==================== -->
  <div class="page-title">

    <div class="title">
        <h2>Car Grid</h2>
    </div> 

    <div class="link">
        <a href="../../index-2.html"><i class="fa-solid fa-house-chimney"></i> Home</a>
        <i class="fa-solid fa-angle-right"></i>
        <span class="page">Car Grid</span>
    </div>

</div>
<!-- ==================== Page-Title (End) ==================== -->



<!-- ==================== Search-Car Area (Start) ==================== --> 
<section class="search-car">

    <h4>search cars</h4>

    <form action="https://elitecars-html.asdesignsgalaxy.com/pages/Cars/example.php" id="search-car">

        <div class="box">
            <div class="input-field">
                <select name="car-make" id="car-make">
                    <option value="all" style="display: none;">car make</option>
                    <option value="acura">Acura</option>
                    <option value="bmw">BMW</option>
                    <option value="audi">Audi</option>
                    <option value="Chevrolet">Chevrolet</option>
                    <option value="honda">Honda</option>
                    <option value="hyundai">Hyundai</option>
                    <option value="ford">Ford</option>
                    <option value="infiniti">Infiniti</option>
                    <option value="porsche">Porsche</option>
                    <option value="mercedes">Mercedes-Benz</option>
                </select>
                <label for="car-make" class="fa-solid fa-angle-down"></label> 
            </div>
        </div>

        <div class="box">
            <div class="input-field">
                <select name="car-type" id="car-type">
                    <option value="all" style="display: none;">car type</option>
                    <option value="convertible">Convertible</option>
                    <option value="sports">Sports Car</option>
                    <option value="suv">SUV</option>
                    <option value="mini">Mini Van</option>
                    <option value="hatchback">Hatchback</option>
                </select>
                <label for="car-type" class="fa-solid fa-angle-down"></label>
            </div>
        </div>

        <div class="box">
            <div class="input-field">
                <select name="models" id="models">
                    <option value="all">all models</option>
                    <option value="model-1">model-1</option>
                    <option value="model-2">model-2</option>
                    <option value="model-3">model-3</option>
                    <option value="model-4">model-4</option>
                    <option value="model-5">model-5</option>
                </select>
                <label for="models" class="fa-solid fa-angle-down"></label>
            </div>
        </div>

        <div class="box">
            <a href="#" class="btn">search</a>
        </div>

    </form>

</section>   
<!-- ==================== Search-Car Area (End) ==================== --> 



<!-- ==================== Car-Grid Area (Start) ==================== -->
<section class="cars">
    <div class="intro">
      <div class="showing">showing 6 of 20 cars</div>
      <div class="styles">
        <a href="Car-Grid.html" class="fas fa-th"></a>
      </div>
      <div class="sorting-type">
        <select name="sort" id="sort">
          <option value="default">default sorting</option>
          <option value="popularity">sort by popularity</option>
          <option value="latest">sort by latest</option>
          <option value="average-price">sort by average price</option>
          <option value="low-to-high">sort by price: low to high</option>
          <option value="high-to-low">sort by price: high to low</option>
        </select>
      </div>
    </div>
  
    <div class="car-container grid">
      <div *ngFor="let car of cars" class="car-item">
        <div class="image">
          <img [src]="car.images[0]" alt="{{ car.name }}">
          <div class="price">{{ car.price }}<span>/day</span></div>
        </div>
        <div class="content">
          <a href="Single-Car.html"><h2>{{ car.name }}</h2></a>
          <div class="details">
            <h3><i class="fa-solid fa-car"></i><span>{{ car.year }}</span></h3>
            <h3><i class="fa-solid fa-user-group"></i><span>{{ car.seats }} people</span></h3>
            <h3><i class="fa-solid fa-suitcase-rolling"></i><span>{{ car.madeIn }}</span></h3>
            <h3><i class="fa-solid fa-gear"></i><span>{{ car.status }}</span></h3>
            <h3><i class="fa-solid fa-gas-pump"></i><span>{{ car.mileage }} kmpl</span></h3>
          </div>
          <a href="Cart.html" class="btn">rent car</a>
        </div>
      </div>
    </div>
  </section>



