<div class="page-title">
  <div class="title">
    <h2>404</h2>
  </div>
  <div class="link">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-house-chimney"></i> Home</a>
    <i class="fa-solid fa-angle-right"></i>
    <span class="page">Page Not Found</span>
  </div>
</div>

<div class="access-denied-container">
  <h1>Page Not Found</h1>
  <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
  <a routerLink="/home" class="btn">Go to Home</a>
</div>
