<footer class="footer">

    <div class="box-container">

      <div class="footer-item">
        <!-- Logo --> 
        <a class="logo" href="index-2.html">
          <img src="assets/images/Logo/Logo.png" alt="logo">
          <div class="logo-name">
            <h3><span>Elite</span>Cars</h3>
            <p>car rental service</p>
          </div>
        </a>
        <p>We provide Best cars with the best prices. We are expert in car rental. Enjoy your holidays with us. We make your drive memorable. We care for your safety.</p>
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="footer-item">
        <h2>useful links</h2>
        <div class="info links pages">
          <div class="links-item">
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/About/About.html">about</a></p>
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/About/Team.html">team</a></p>
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/About/Testimonials.html">testimonials</a></p>
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/About/Faqs.html">FAQs</a></p>
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/Pages/Sevices.html">services</a></p>
          </div>
          <div class="links-item">
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/Pages/Gallery.html">gallery</a></p>
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/Cars/Car-Grid.html">cars</a></p>
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/Blog/Blog-Grid.html">blog</a></p>
            <p><i class="fa-solid fa-caret-right"></i><a href="pages/Contact/contact.html">contact</a></p>
          </div>
        </div>
      </div> 

      <div class='footer-item'>
        <h2>contact info</h2> 
        <div class="info connect">
          <p><i class="fas fa-phone"></i><span>+111-222-333</span></p>
          <p><i class="fas fa-envelope"></i><span class="gmail">abc&#64;gmail.com</span></p>
          <p><i class="fas fa-map"></i><span>karachi, pakistan</span></p>
        </div>
      </div>

    </div>

    <div class="content">
      <p>designed by <span>AS_Designs</span> | all rights reserved</p>
    </div>

  </footer>