<header>

  <!-- ===== Header Area (Start) ===== -->
  <div class="header">

    <div class="header-1">

      <ul class="header-contacts">
        <li><i class="fas fa-phone"></i><span>+111-222-333</span></li>
        <li><i class="fas fa-envelope"></i><span class="gmail">abc&#64;gmail.com</span></li>
      </ul>

      <!-- Contacts -->
      <ul class="social-contacts">
        <li><a href="#" class="fab fa-facebook-f" aria-label="Facebook"></a></li>
        <li><a href="#" class="fa-brands fa-x-twitter" aria-label="Twitter"></a></li>
        <li><a href="#" class="fab fa-instagram" aria-label="Instagram"></a></li>
        <li><a href="#" class="fab fa-linkedin" aria-label="LinkedIn"></a></li>
      </ul>

    </div>

    <div class="header-2">

      <div id="menu-btn" class="icon fa-solid fa-bars-staggered"></div>

      <!-- Logo -->
      <a class="logo" href="index-2.html">
        <img src="assets/images/Logo/Logo.png" alt="logo">
        <div class="logo-name">
          <h3><span>Elite</span>Cars</h3>
          <p>car rental service</p>
        </div>
      </a>

      <div class="container">

        <!-- Navbar -->
        <nav class="navbar">

          <a class="nav-btn" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">home</a>


          <!-- <div class="dropdown-menu">
            <button class="nav-btn">about <i class="fas fa-angle-down"></i> </button>
            <div class="dropdown-content">
              <a href="pages/About/About.html">about us</a>
              <a href="pages/About/Team.html">team</a>
              <a href="pages/About/Testimonials.html">testimonials</a>
              <a href="pages/About/Faqs.html">faqs</a>
            </div>
          </div> -->

         <div class="dropdown-menu">
  <button class="nav-btn">Trang <i class="fas fa-angle-down"></i></button>
  <div class="dropdown-content">
    <a href="pages/Pages/Services.html">Dịch Vụ</a>
    <a href="pages/Pages/Single-Service.html">Chi Tiết Dịch Vụ</a>
    <a href="pages/Pages/Gallery.html">Thư Viện Ảnh</a>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Đăng Nhập</a>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Đăng Ký</a>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/reset-password" routerLinkActive="active" ariaCurrentWhenActive="page">Quên Mật Khẩu</a>
    <a *ngIf="authService.isLoggedIn()"  routerLink="/change-password" routerLinkActive="active" ariaCurrentWhenActive="page">Đổi Mật Khẩu</a>
    <a *ngIf="authService.isLoggedIn()"  routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
    <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="btn-logout">Logout</a>
  </div>
</div>


          <div class="dropdown-menu">
            <button class="nav-btn">cars <i class="fas fa-angle-down"></i> </button>
            <div class="dropdown-content">
              <a *ngIf="authService.isLoggedIn()"  routerLink="/rented-cars" routerLinkActive="active" ariaCurrentWhenActive="page">Rented Car</a>
              <a href="pages/Cars/Car-Grid.html">car grid</a>
              <a href="pages/Cars/Car-List.html">car list</a>
              <a href="pages/Cars/Single-Car.html">single car</a>
              <a href="pages/Cars/Cart.html">cart</a>
              <a href="pages/Cars/Checkout.html">checkout</a>
            </div>
          </div>

          <!-- <div class="dropdown-menu">
            <button class="nav-btn">blog <i class="fas fa-angle-down"></i> </button>
            <div class="dropdown-content">
              <a href="pages/Blog/Blog-Grid.html">blogs grid</a>
              <a href="pages/Blog/Blog-List.html">blogs list</a>
              <a href="pages/Blog/Single-Blog.html">single blog</a>
            </div>
          </div> -->

          <!-- <a class="nav-btn" href="pages/Contact/contact.html">contact</a> -->

        </nav>

        <a href="pages/Cars/Car-Grid.html" class="btn">Rent Car</a>

      </div>

    </div>

  </div>
  <!-- ===== Header Area (Ends) ===== -->

  <!-- ===== Mobile Menu Area (Start) ===== -->
  <div class="mobile-menu">

    <div id="close-side-bar" class="fa-solid fa-angles-left"></div>

    <nav class="mobile-navbar">

      <div class="nav-link">
        <div class="main-nav-link"> <a class="nav-btn" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">home</a> </div>
      </div>

      <!-- <div class="nav-link">
        <div class="main-nav-link">
          <div class="nav-btn">about</div> <i class="fas fa-plus"></i>
        </div>
        <div class="sub-nav-link">
          <a href="pages/About/About.html">about us</a>
          <a href="pages/About/Team.html">team</a>
          <a href="pages/About/Testimonials.html">testimonials</a>
          <a href="pages/About/Faqs.html">faqs</a>
        </div>
      </div> -->

      <div class="nav-link">
        <div class="main-nav-link">
          <div class="nav-btn">pages</div> <i class="fas fa-plus"></i>
        </div>
        <div class="sub-nav-link">
          <a href="pages/Pages/Services.html">Dịch Vụ</a>
          <a href="pages/Pages/Single-Service.html">Chi Tiết Dịch Vụ</a>
          <a href="pages/Pages/Gallery.html">Thư Viện Ảnh</a>
          <a  *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Đăng Nhập</a>
          <a *ngIf="!authService.isLoggedIn()" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Đăng Ký</a>
          <a *ngIf="!authService.isLoggedIn()" routerLink="/reset-password" routerLinkActive="active" ariaCurrentWhenActive="page">Quên Mật Khẩu</a>
          <a *ngIf="authService.isLoggedIn()"  routerLink="/change-password" routerLinkActive="active" ariaCurrentWhenActive="page">Đổi Mật Khẩu</a>
          <a *ngIf="authService.isLoggedIn()"  routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
          <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="btn-logout">Logout</a>
        </div>
      </div>

      <div class="nav-link">
        <div class="main-nav-link">
          <div class="nav-btn">Xe <i class="fas fa-plus"></i></div>
        </div>
        <div class="sub-nav-link">
          <a *ngIf="authService.isLoggedIn()"  routerLink="/rented-cars" routerLinkActive="active" ariaCurrentWhenActive="page">Xe Đã Thuê</a>
          <a href="pages/Cars/Car-Grid.html">Danh Sách Xe</a>
          <a href="pages/Cars/Car-List.html">Xem Dạng Lưới</a>
          <a href="pages/Cars/Single-Car.html">Chi Tiết Xe</a>
          <a href="pages/Cars/Cart.html">Giỏ Hàng</a>
          <a href="pages/Cars/Checkout.html">Thanh Toán</a>
        </div>
      </div>

      <!-- <div class="nav-link">
        <div class="main-nav-link">
          <div class="nav-btn">blog</div> <i class="fas fa-plus"></i>
        </div>
        <div class="sub-nav-link">
          <a href="pages/Blog/Blog-Grid.html">blogs grid</a>
          <a href="pages/Blog/Blog-List.html">blogs list</a>
          <a href="pages/Blog/Single-Blog.html">single blog</a>
        </div>
      </div> -->

      <!-- <div class="nav-link">
        <div class="main-nav-link"> <a class="nav-btn" href="pages/Contact/contact.html">contact</a> </div>
      </div> -->

    </nav>

  </div>
  <!-- ===== Mobile Menu Area (Ends) ===== -->

</header>