<section class="home">

    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide home-item">
          <img src=" assets/images/Home/Home-1.jpg" alt="">
          <div class="content">
            <div class="text">
              <h3>Best cars for the best journey</h3>
              <p>We provide Best cars with the best prices. We are expert in car rental. Enjoy your holidays with us. We make your drive memorable. We care for your safety.</p>
              <a href="pages/About/About.html" class="btn">learn more</a>
            </div>
          </div>
        </div>

        <div class="swiper-slide home-item">
          <img src=" assets/images/Home/Home-2.jpg" alt="">
          <div class="content">
            <div class="text">
              <h3>Make your trip enjoyable</h3>
              <p>We provide Best cars with the best prices. We are expert in car rental. Enjoy your holidays with us. We make your drive memorable. We care for your safety.</p>
              <a href="pages/About/About.html" class="btn">learn more</a>
            </div>
          </div>
        </div>

        <div class="swiper-slide home-item">
          <img src=" assets/images/Home/Home-3.jpg" alt="">
          <div class="content">
            <div class="text">
              <h3>Better care with best prices</h3>
              <p>We provide Best cars with the best prices. We are expert in car rental. Enjoy your holidays with us. We make your drive memorable. We care for your safety.</p>
              <a href="pages/About/About.html" class="btn">learn more</a>
            </div>
          </div>
        </div>

      </div>

      <div class="swiper-pagination swiper-pagination1"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </section>
  <!-- ==================== Home-Slider Area (End) ==================== -->



  <!-- ==================== Search-Car Area (Start) ==================== -->
  <section class="search-car">

    <h4>search cars</h4>

    <form action="https://elitecars-html.asdesignsgalaxy.com/example.php" id="search-car">

      <div class="box">
        <div class="input-field">
          <select name="car-make" id="car-make">
            <option value="all" style="display: none;">car make</option>
            <option *ngFor="let car of carMakes" [value]="car.value">{{ car.name }}</option>
          </select>
          <label for="car-make" class="fa-solid fa-angle-down"></label>
        </div>
      </div>


      <div class="box">
        <a href="#" class="btn">search</a>
      </div>

    </form>

  </section>
  <!-- ==================== Search-Car Area (End) ==================== -->



  <!-- ==================== About Area (Start) ==================== -->
  <section class="about">

    <div class="box-container">
      <img src=" assets/images/About/About.jpg" alt="">
      <div class="content">
        <div class="text">
          <div class="heading">
            <span>know about us</span>
          </div>
          <h3>We make your drive memorable.</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quaerat illum mollitia esse quidem quas, iure excepturi vel, quam dolore voluptatum incidunt consequuntur natus doloremque. Facere assumenda ut id exercitationem?</p>
          <a href="pages/Cars/Car-Grid.html" class="btn">discover more</a>
        </div>
      </div>

    </div>

  </section>
  <!-- ==================== About Area (End) ==================== -->



  <!-- ==================== Services Area (Start) ==================== -->
  <section class="services">

    <div class="heading">
      <span>what we offer</span>
      <h2>our services</h2>
    </div>

    <div class="box-container">

      <div class="service-item">
        <div class="content">
          <a href="pages/Pages/Single-Service.html"><h3>variety of cars</h3></a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sequi modi ratione deleniti tenetur? Enim illum ex eaque ad.</p>
        </div>
        <i class="fa-solid fa-car"></i>
      </div>

      <div class="service-item">
        <div class="content">
          <a href="pages/Pages/Single-Service.html"><h3>Best price guarantee</h3></a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sequi modi ratione deleniti tenetur? Enim illum ex eaque ad.</p>
        </div>
        <i class="fa-solid fa-star"></i>
      </div>

      <div class="service-item">
        <div class="content">
          <a href="pages/Pages/Single-Service.html"><h3>Available 24 x 7</h3></a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sequi modi ratione deleniti tenetur? Enim illum ex eaque ad.</p>
        </div>
        <i class="fa-solid fa-headset"></i>
      </div>

      <div class="service-item">
        <div class="content">
          <a href="pages/Pages/Single-Service.html"><h3>Phone reservation</h3></a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sequi modi ratione deleniti tenetur? Enim illum ex eaque ad.</p>
        </div>
        <i class="fa-solid fa-phone"></i>
      </div>

      <div class="service-item">
        <div class="content">
          <a href="pages/Pages/Single-Service.html"><h3>Reservation anytime</h3></a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sequi modi ratione deleniti tenetur? Enim illum ex eaque ad.</p>
        </div>
        <i class="fa-regular fa-calendar-check"></i>
      </div>

      <div class="service-item">
        <div class="content">
          <a href="pages/Pages/Single-Service.html"><h3>Best Quality Cars</h3></a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sequi modi ratione deleniti tenetur? Enim illum ex eaque ad.</p>
        </div>
        <i class="fa-regular fa-thumbs-up"></i>
      </div>

    </div>

  </section>
  <!-- ==================== Services Area (End) ==================== -->



  <!-- ==================== Count Area (Start) ==================== -->
  <div class="counting">

    <div class="box">
      <i class="fa-solid fa-briefcase"></i>
      <div class="text">
        <div class="count" data-count="50">50+</div>
        <h3>experience</h3>
      </div>
    </div>

    <div class="box">
      <i class="fa-solid fa-car"></i>
      <div class="text">
        <div class="count" data-count="500">500+</div>
        <h3>cars</h3>
      </div>
    </div>

    <div class="box">
      <i class="fa-solid fa-people-group"></i>
      <div class="text">
        <div class="count" data-count="1000">1000+</div>
        <h3>customers</h3>
      </div>
    </div>

    <div class="box">
      <i class="fa-regular fa-comments"></i>
      <div class="text">
        <div class="count" data-count="500">500+</div>
        <h3>reviews</h3>
      </div>
    </div>

  </div>
  <!-- ==================== Count Area (End) ==================== -->



  <!-- ==================== Categories Area (Start) ==================== -->
  <section class="categories">

    <div class="heading">
      <span>top car category</span>
      <h2>our category</h2>
    </div>

    <div class="box-container">

      <div class="category-item category-1">
        <img src=" assets/images/Cars/Category/Category-1.jpg" alt="">
        <a href="pages/Cars/Car-Grid.html"><h3>Convertible</h3></a>
      </div>

      <div class="category-item category-2">
        <img src=" assets/images/Cars/Category/Category-2.jpg" alt="">
        <a href="pages/Cars/Car-Grid.html"><h3>Sports Car</h3></a>
      </div>

      <div class="category-item category-3">
        <img src=" assets/images/Cars/Category/Category-3.jpg" alt="">
        <a href="pages/Cars/Car-Grid.html"><h3>SUV</h3></a>
      </div>

      <div class="category-item category-4">
        <img src=" assets/images/Cars/Category/Category-4.jpg" alt="">
        <a href="pages/Cars/Car-Grid.html"><h3>Mini Van</h3></a>
      </div>

      <div class="category-item category-5">
        <img src=" assets/images/Cars/Category/Category-5.jpg" alt="">
        <a href="pages/Cars/Car-Grid.html"><h3>Hatchback</h3></a>
      </div>

    </div>

  </section>
  <!-- ==================== Categories Area (End) ==================== -->



  <!-- ==================== Gallery Area (Start) ==================== -->
  <section class="gallery">

    <div class="heading">
      <span>most famous cars</span>
      <h2>our gallery</h2>
    </div>

    <ul class="controls">
      <li class="button active" data-filter="all">all</li>
      <li class="button" data-filter="convertible">Convertible</li>
      <li class="button" data-filter="suv">SUV</li>
      <li class="button" data-filter="sports">sports car</li>
      <li class="button" data-filter="mini">mini van</li>
    </ul>

    <div class="box-container">

      <div class="gallery-item image convertible">
        <img src=" assets/images/Gallery/Gallery-1.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>Convertible 1</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-1.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image suv">
        <img src=" assets/images/Gallery/Gallery-2.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>SUV 1</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-2.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image convertible">
        <img src=" assets/images/Gallery/Gallery-3.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>Convertible 2</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-3.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image suv">
        <img src=" assets/images/Gallery/Gallery-4.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>SUV 2</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-4.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image suv">
        <img src=" assets/images/Gallery/Gallery-5.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>SUV 3</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-5.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image sports">
        <img src=" assets/images/Gallery/Gallery-6.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>Sports Car 1</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-6.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image mini">
        <img src=" assets/images/Gallery/Gallery-7.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>Mini Van 1</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-7.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image sports">
        <img src=" assets/images/Gallery/Gallery-8.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>Sports Car 2</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-8.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image mini">
        <img src=" assets/images/Gallery/Gallery-9.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>Mini Van 2</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-9.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

      <div class="gallery-item image sports">
        <img src=" assets/images/Gallery/Gallery-10.jpg" alt="Gallery-Image">
        <div class="content">
          <h4>Sports Car 3</h4>
          <a class="view" href=" assets/images/Gallery/Gallery-10.jpg"><i class="fas fa-expand-alt"></i></a>
        </div>
      </div>

    </div>

  </section>
  <!-- ==================== Gallery Area (End) ==================== -->



  <!-- ==================== Cars Area (Start) ==================== -->
  <section class="cars">

    <div class="heading">
      <span>Our popular Cars</span>
      <h2>featured Cars</h2>
    </div>

    <div class="swiper-container car-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide car-item">
          <div class="image">
            <img src=" assets/images/Cars/Cars/Car-1.jpg" alt="">
            <div class="price">$100<span>/day</span></div>
          </div>
          <div class="content">
            <a href="pages/Cars/Single-Car.html"><h2>Porsche 911 Gt3</h2></a>
            <div class="details">
              <h3><i class="fa-solid fa-car"></i><span>2023</span></h3>
              <h3><i class="fa-solid fa-user-group"></i><span>2 people</span></h3>
              <h3><i class="fa-solid fa-suitcase-rolling"></i><span>1 luggage</span></h3>
              <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
              <h3><i class="fa-solid fa-gas-pump"></i><span>Petrol</span></h3>
              <h3><i class="fa-solid fa-road"></i><span>7.4 kmpl</span></h3>
            </div>
            <a href="pages/Cars/Cart.html" class="btn">rent car</a>
          </div>
        </div>

        <div class="swiper-slide car-item">
          <div class="image">
            <img src=" assets/images/Cars/Cars/Car-2.jpg" alt="">
            <div class="price">$150<span>/day</span></div>
          </div>
          <div class="content">
            <a href="pages/Cars/Single-Car.html"><h2>Infiiti Fx35</h2></a>
            <div class="details">
              <h3><i class="fa-solid fa-car"></i><span>2005</span></h3>
              <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
              <h3><i class="fa-solid fa-suitcase-rolling"></i><span>1 luggage</span></h3>
              <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
              <h3><i class="fa-solid fa-gas-pump"></i><span>Electronic</span></h3>
              <h3><i class="fa-solid fa-road"></i><span>7 kmpl</span></h3>
            </div>
            <a href="pages/Cars/Cart.html" class="btn">rent car</a>
          </div>
        </div>

        <div class="swiper-slide car-item">
          <div class="image">
            <img src=" assets/images/Cars/Cars/Car-3.jpg" alt="">
            <div class="price">$200<span>/day</span></div>
          </div>
          <div class="content">
            <a href="pages/Cars/Single-Car.html"><h2>BMW M5 Sedan</h2></a>
            <div class="details">
              <h3><i class="fa-solid fa-car"></i><span>2023</span></h3>
              <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
              <h3><i class="fa-solid fa-suitcase-rolling"></i><span>2 luggage</span></h3>
              <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
              <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
              <h3><i class="fa-solid fa-road"></i><span>9.12 kmpl</span></h3>
            </div>
            <a href="pages/Cars/Cart.html" class="btn">rent car</a>
          </div>
        </div>

        <div class="swiper-slide car-item">
          <div class="image">
            <img src=" assets/images/Cars/Cars/Car-4.jpg" alt="">
            <div class="price">$125<span>/day</span></div>
          </div>
          <div class="content">
            <a href="pages/Cars/Single-Car.html"><h2>BMW X5</h2></a>
            <div class="details">
              <h3><i class="fa-solid fa-car"></i><span>2022</span></h3>
              <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
              <h3><i class="fa-solid fa-suitcase-rolling"></i><span>3 luggage</span></h3>
              <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
              <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
              <h3><i class="fa-solid fa-road"></i><span>13.38 kmpl</span></h3>
            </div>
            <a href="pages/Cars/Cart.html" class="btn">rent car</a>
          </div>
        </div>

      </div>

      <div class="swiper-pagination swiper-pagination2"></div>

    </div>

  </section>
  <!-- ==================== Cars Area (End) ==================== -->



  <!-- ==================== Testimonials Area (Start) ==================== -->
  <section class="home-testimonial linear-bg">

    <div class="heading">
      <span>what our client's say</span>
      <h2>our testimonials</h2>
    </div>

    <div class="swiper-container testimonial-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide testi-item">
          <img src=" assets/images/Testimonials/Pic-1.jpg" alt="">
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis in ea expedita libero error aut itaque quia praesentium? Consectetur nam, maxime atque sit eius corporis voluptate? Exercitationem dolorem consequatur voluptatibus?</p>
          <div class="text">
            <h4>Andrew Jones</h4>
            <h6>Customer</h6>
          </div>
        </div>

        <div class="swiper-slide testi-item">
          <img src=" assets/images/Testimonials/Pic-2.jpg" alt="">
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis in ea expedita libero error aut itaque quia praesentium? Consectetur nam, maxime atque sit eius corporis voluptate? Exercitationem dolorem consequatur voluptatibus?</p>
          <div class="text">
            <h4>Jenny Olson</h4>
            <h6>Customer</h6>
          </div>
        </div>

        <div class="swiper-slide testi-item">
          <img src=" assets/images/Testimonials/Pic-3.jpg" alt="">
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis in ea expedita libero error aut itaque quia praesentium? Consectetur nam, maxime atque sit eius corporis voluptate? Exercitationem dolorem consequatur voluptatibus?</p>
          <div class="text">
            <h4>Robert Anderson</h4>
            <h6>Customer</h6>
          </div>
        </div>

        <div class="swiper-slide testi-item">
          <img src=" assets/images/Testimonials/Pic-4.jpg" alt="">
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis in ea expedita libero error aut itaque quia praesentium? Consectetur nam, maxime atque sit eius corporis voluptate? Exercitationem dolorem consequatur voluptatibus?</p>
          <div class="text">
            <h4>Clare Nicholson</h4>
            <h6>Customer</h6>
          </div>
        </div>

      </div>

      <div class="swiper-pagination swiper-pagination3"></div>

    </div>

  </section>
  <!-- ==================== Testimonials Area (End) ==================== -->



  <!-- ==================== Team Area (Start) ==================== -->
  <section class="team">

    <div class="heading">
      <span>meet our team</span>
      <h2>our team</h2>
    </div>

    <div class="box-container">

      <div class="team-item">
        <div class="image">
          <img src=" assets/images/Team/Team-1.jpg" alt="">
          <div class="icon-container">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="content">
          <h2>Bruce Taylor</h2>
          <h5>Founder & CEO</h5>
        </div>
      </div>

      <div class="team-item">
        <div class="image">
          <img src=" assets/images/Team/Team-2.jpg" alt="">
          <div class="icon-container">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="content">
          <h2>Shirley Cowles</h2>
          <h5>Manager</h5>
        </div>
      </div>

      <div class="team-item">
        <div class="image">
          <img src=" assets/images/Team/Team-3.jpg" alt="">
          <div class="icon-container">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="content">
          <h2>Richard Collinge</h2>
          <h5>Director</h5>
        </div>
      </div>

      <div class="team-item">
        <div class="image">
          <img src=" assets/images/Team/Team-4.jpg" alt="">
          <div class="icon-container">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="content">
          <h2>Jill Saulbrey</h2>
          <h5>sales manager</h5>
        </div>
      </div>

    </div>

  </section>
  <!-- ==================== Team Area (End) ==================== -->



  <!-- ==================== Blogs Area (Start) ==================== -->
  <section class="blog main">

    <div class="heading">
      <span>recent news & blogs</span>
      <h2>our blogs</h2>
    </div>

    <div class="box-container">

      <div class="blog-item">
        <div class="image">
          <img src=" assets/images/Blog/Blogs/Blog-1.jpg" alt="Blog-Image">
          <div class="category">latest model</div>
        </div>
        <div class="content">
          <a class="main-heading" href="pages/Blog/Single-Blog.html">Tips for finding the best car</a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="details">
            <h3><i class="fas fa-user-circle"></i><span>By Admin</span></h3>
            <h3><i class="far fa-calendar"></i><span>15th july 2022</span></h3>
          </div>
        </div>
      </div>

      <div class="blog-item">
        <div class="image">
          <img src=" assets/images/Blog/Blogs/Blog-2.jpg" alt="Blog-Image">
          <div class="category">holidays</div>
        </div>
        <div class="content">
          <a class="main-heading" href="pages/Blog/Single-Blog.html">Car rental tips for the holidays</a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="details">
            <h3><i class="fas fa-user-circle"></i><span>By Admin</span></h3>
            <h3><i class="far fa-calendar"></i><span>25th aug 2022</span></h3>
          </div>
        </div>
      </div>

      <div class="blog-item">
        <div class="image">
          <img src=" assets/images/Blog/Blogs/Blog-3.jpg" alt="Blog-Image">
          <div class="category">lifestyle</div>
        </div>
        <div class="content">
          <a class="main-heading" href="pages/Blog/Single-Blog.html">The ultimate car rental checklist</a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="details">
            <h3><i class="fas fa-user-circle"></i><span>By Admin</span></h3>
            <h3><i class="far fa-calendar"></i><span>11th oct 2022</span></h3>
          </div>
        </div>
      </div>

    </div>

  </section>

